@charset "utf-8";
    .NormalCharacterStyle1
{
    font-family : Seravek;
    font-size : 36px;
    color : #000000;
    color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
    font-family : Seravek;
    font-size : 49px;
    color : #000000;
    color : rgb(0, 0, 0);
}

.home{
    display:flex;
}

.toprow{
    flex-direction: row;
}

.about{
    width:50%;
    height: 50%;
    justify-content: center;
    flex-direction: column;
    text-align:center;

    background:"blue";
}