@charset "utf-8";
    .NormalCharacterStyle1
{
    font-family : Seravek;
    font-size : 36px;
    color : #000000;
    color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
    font-family : Seravek;
    font-size : 49px;
    color : #000000;
    color : rgb(0, 0, 0);
}

html {
    height:100%;
    background-color: #b3fff0;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}

.home{
    display: flex;
    height: 100%;
    margin:0;
    flex-direction: column;
}

#toprow{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#bottomRow{
    display:flex;
    height: 100%;
}

.box{
    width:50%;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    display:flex;
    font-size:25px;

    background-color: #1E7BB4;
}

i{
    font-size: 50px;
    margin-bottom: 20px;
}

body {

}